{% extends 'websites/home.html' %}

{% block title %}<title>Blog</title>{% endblock title %}


{% block cat %}
{% if catkey %}
{% for cat in catkey %}
<li><a class="dropdown-item" href="{% url 'blog-cat' cat.cat_id %}">{{cat.name}}</a></li>
{% endfor %}
{% else %}
<li><a class="dropdown-item">No Category</a></li>
{% endif %}
{% endblock cat %}


{% block active4 %}active{% endblock active4 %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 p-3">
            <div class="col-12">
                <!-- First Row -->
                <div class="row p-3">
                    {% for post in recentkey %}
                    {% if forloop.counter < 3 %} {% if forloop.counter < 2 %} <h3 class="text-center my-3">Latest Blogs
                        </h3>
                        {% endif %}
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="card shadow-sm">
                                <img src="/media/{{post.img}}" alt="" width="100%" height="225">
                                <div class="card-body">
                                    <h4>{{post.title}}</h4>
                                    <p class="card-text">{{post.content|truncatechars:100|safe}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{post.slug}}"><button type="button"
                                                    class="btn btn-sm btn-danger">Read</button></a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                                        </div>
                                        <small class="text-muted">Author : {{post.author}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% empty %}
                        <div class="emptyContainer p-5">
                            <h1><b>No Posts Yet !!!</b> </h1>
                        </div>
                        {% endfor %}
                </div>


                <!-- Second Row -->
                {% block auth %}
                {% if user.is_authenticated %}
                <div class="row text-black p-3">
                    {% for post in blogkey %}
                    {% if forloop.counter < 2 %} <h3 class="text-center mt-2 mb-4">Previous Blogs</h3>
                        {% endif %}
                        <div class="col-md-6 mb-5 mt-md-1">
                            <div class="card shadow-sm">
                                <img src="/media/{{post.img}}" alt="" width="100%" height="225">
                                <div class="card-body">
                                    <h4>{{post.title}}</h4>
                                    <p class="card-text">{{post.content|truncatechars:100|safe}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{post.slug}}"><button type="button"
                                                    class="btn btn-sm btn-danger">Read</button></a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                                        </div>
                                        <small class="text-muted">Author : {{post.author}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!-- Pagination -->
                        {% if blogkey %}
                        <nav aria-label="Page navigation example" style="margin-top:10px;">
                            <ul class="pagination">

                                <!--Previous Page-->
                                {% if blogkey.has_previous %}
                                <li class="page-item">
                                    <a class="page-link active" href="?page={{blogkey.previous_page_number}}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">Pervious</span>
                                    </a>
                                </li>
                                {% endif %}

                                <!--First Page By Default-->
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>

                                {% for page in changePages %}
                                {% if forloop.counter > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                                {% endif %}

                                {% endfor %}

                                <!--Next Page-->
                                {% if blogkey.has_next %}
                                <li class="page-item">
                                    <a class="page-link active" href="?page={{blogkey.next_page_number}}"
                                        aria-label="Next">
                                        <span aria-hidden="true">Next</span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>


                        {% endif %}
                </div>
                {% else %}
                <center>
                    <div class="container mt-5">
                        <a href="{% url 'signup-index' %}"><button
                                class="btn btn-outline-primary border border-2 border-primary">More Blogs</button></a>
                    </div>
                </center>
                {% endif %}
                {% endblock auth %}
            </div>
        </div>


        <div class="col-md-3 d-none d-lg-block bg p-4">
            <div class="row">
                <h5 class="text-left mt-2"><b>CATEGORIES</b></h5>
                <hr>
                {% block authCategory %}
                {% if user.is_authenticated %}
                {% if catkey %}
                {% for cat in catkey %}
                {% if forloop.counter < 5 %} <a href="{% url 'blog-cat' cat.cat_id %}">{{cat.name}}</a>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No Categorys</p>
                    {% endif %}
                    {% else %}
                    <p>Login Please</p>
                    {% endif %}
                    {% endblock authCategory %}


            </div>
            <div class="row mt-5">
                <h5>Social Media</h5>
                <hr>
                <a href="#">Google</a>
                <a href="#">Facebook</a>
                <a href="#">Whatsapp</a>
            </div>
            <div class="row mt-5">
                <h5>Latest Video</h5>
                <video src="../../../static/videos/demo.mp4" controls muted></video>
            </div>
            <div class="row mt-5">
                <h5>About Us</h5>
                <hr>
                {% include 'websites/about.html' %} <a href="/#ScrollAbout">read more...</a>
            </div>
            <div class="row mt-5">
                <h5>Latest Comments</h5>
                <hr>
                <p><b>Sam : </b>Lorem ipsum dolor sit amet.</p>
                <p><b>Admin : </b>Lorem ipsum dolor sit amet.</p>
                <p><b>Json : </b>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}