{% extends 'websites/home.html' %}

{% block title %}<title>Category</title>{% endblock title %}

{% block active5 %}active{% endblock active5 %}

{% block cat %}
{% for cat in allcats %}
<li><a class="dropdown-item" href="{% url 'blog-cat' cat.cat_id %}">{{cat.name}}</a></li>
{% endfor %}
{% endblock cat %}

{% block content %}
<div class="p-4 p-md-5 mb-4 text-white row rounded bg-dark">
  {% for blog in blogkey %}
  {% if forloop.counter < 2 %} <h1 class="text-center text-white"
    style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;">Blogs
    Relates to - {{blog.category}}</h1>
    {% endif %}
    {% empty %}
    <h1 class="text-center text-white"
      style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;">No Blogs
      Exists</h1>
    {% endfor %}
</div>

{% block auth %}
{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    {% for blog in blogkey %}
    <div class="card m-1" style="width: 17rem;">
      <img style="width: 100%; height: 150px;" src="/media/{{blog.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.content|truncatechars:50 | safe}}</p>
        <a href="/blog/{{blog.slug}}" class="btn btn-primary">View Blogs</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--Paginator-->
  {% if blogkey %}
  <nav aria-label="Page navigation example" style="margin: 20px 0px;">
    <ul class="pagination">

      <!--Previous Page-->
      {% if blogkey.has_previous %}
      <li class="page-item">
        <a class="page-link active" href="?page={{blogkey.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      <!--First Page By Default-->
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>


      <!--Pages-->
      {% for page in changePages %}
      {% if forloop.counter > 1 %}
      <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}


      <!--Next Page-->
      {% if blogkey.has_next %}
      <li class="page-item">
        <a class="page-link active" href="?page={{blogkey.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% else %}
  {% endif %}
</div>

{% else %}
<center>
  <p>Login Please</p>
  <a href="{% url 'signin-index' %}">login here</a>
</center>

{% endif %}
{% endblock auth %}

{% endblock content %}