{% extends 'websites/home.html' %}

{% block title %}<title>About us</title>{% endblock title %}

{% block content %}
<div class="container p-5">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, odio optio placeat similique blanditiis inventore
        laboriosam atque quibusdam sed mollitia eveniet facilis, modi voluptate esse magnam dolore sunt consectetur
        nulla alias ratione amet hic aut veniam tempora. Minus, similique enim. Est ducimus omnis optio non, a porro
        doloribus. Dolorum sed aut fugit sunt, a consectetur? Iusto, eligendi facilis. Cum ullam reiciendis nihil magni
        beatae aperiam cumque provident, iste eveniet, consequatur, sequi perferendis aspernatur quia nostrum quibusdam
        voluptates minima commodi error expedita obcaecati alias accusamus eos hic. Quam esse explicabo labore, vel
        facere minus eaque voluptatibus totam officiis quisquam ad illum distinctio aperiam nisi nesciunt ratione
        possimus voluptate optio nam. Excepturi officia nam nulla inventore dicta ab doloremque odit debitis maxime.
        Sint itaque placeat facere, earum cupiditate iure accusamus ipsum libero asperiores quod autem officiis natus
        molestias aperiam qui ex, blanditiis at assumenda sapiente hic? Perferendis esse cumque nulla ab soluta
        recusandae autem eius fugiat, perspiciatis labore doloremque nesciunt itaque pariatur non aliquam aut a maiores
        accusantium possimus hic. Soluta vel dolorem et neque voluptatem? Iusto voluptas qui quas, nam voluptatum optio
        non alias perspiciatis accusamus minus fugit? Animi sequi odio nulla. Tempore ducimus eos dicta minima. Illum
        deserunt est sunt.
    </p>
</div>
{% endblock content %}

{% block fixed %}fixed-bottom{% endblock fixed %}