{% extends 'websites/home.html' %}

{% block title %}<title>Contact us</title>{% endblock title %}

{% block css %}
.container .inputs
{
height:40px;
}
{% endblock %}

{% block active3 %}active{% endblock active3 %}

{% block cat %}
{% if cats %}
{% for cat in cats %}
<li><a class="dropdown-item" href="{% url 'blog-cat' cat.cat_id %}">{{cat.name}}</a></li>
{% endfor %}
{% else %}
<li><a class="dropdown-item">No Category</a></li>
{% endif %}
{% endblock cat %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="emptybox p-2" id="contact"></div>
<div class="container">
    <h1><b>Contact Us</b></h1>
    <form action="{% url 'contact-index' %}" method="post">{% csrf_token %}
        <input type="text" name="name" placeholder="Enter Your Name" class="inputs col-lg-8 col-12 my-3 p-3"><br>
        <input type="email" name="email" placeholder="Enter Your Email Address"
            class="inputs col-lg-8 col-12 mb-3 p-3"><br>
        <textarea name="msg" cols="30" rows="7" placeholder="Enter Your Message"
            class="col-lg-8 col-12 mb-3 p-3"></textarea><br>

        {% if user.is_authenticated %}
        <a href=""><button type="submit" class="btn btn-primary">Submit</button></a>
        {% else %}
        <p>Please SignUp or SignIn to your account in order to contact us</p>
        {% endif %}
    </form>
</div>
{% endblock content %}